
body {
  background-color: #000000;
  color: white;
  margin: 0px;
  overflow: hidden;
  font-family: Rockwell,Georgia,Palatino Linotype,Palatino,"Times New Roman",Times,serif;
  font-size:13px;
}

#header {
  padding: 10px;
  font-size: 200%;
  margin: 0px auto;
  width: 400px;
}

#footer {
  color:#fff;
  position: absolute;
  bottom: 0px; width: 100%;
  padding: 5px;
  z-index:100;
  font-size: 150%;
}

#shakecanvas {
  position: absolute;
  right: 0px; top: 0px;
  border: solid 1px black;
  color: red;
  z-index: 50;
}

.item {
  width: 25px;
  height: 25px;
  background-color: red;
  z-index: 51;
  position: absolute;
  right: 0px; top: 64px;
  margin: 20px;
}


.bubble {
  border-radius: 5px;
  -webkit-transition: width 2s, height 2s, margin 2s, -webkit-transform 2s;
  background: white;
  position: absolute;
}

